{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block css %}
<style>
    /* Add your custom styles here */
</style>
{% endblock %}

{% block body %}
{% load static %}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

                {% if not user.is_authenticated %}
                    {% include 'account/register.html' %}
                {% else %}
                    {% include 'account/login.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/authToggle.js' %}"></script>

{% endblock %}
